#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Default (QWERTY + keyball39 風ホームロウモッド)

        default_layer {
            bindings = <
&kp Q    &kp W        &kp E    &kp R       &kp T                                        &kp Y      &kp U        &kp I      &mt LALT O   &kp P
&kp A    &mt LGUI S   &kp D    &kp F       &kp G      &kp LA(GRAVE)      &none          &kp H      &mt LCTRL J  &lt 2 K    &mt LSHFT L  &kp ENTER
&lt 1 Z  &mt LSHFT X  &lt 2 C  &mt LALT V  &kp B      &none              &none          &kp N      &mt LALT M   &mkp LCLK  &mo 5        &lt 1 MINUS
&kp ESC  &kp LWIN     &none    &kp LCTRL   &kp SPACE  &kp DEL            &kp BACKSPACE  &lt 1 TAB                                       &mkp RCLK
            >;
        };

        // Layer 1: ARROW / MEDIA  (旧 keyball L1。Enter 長押し or Z 長押しで起動)

        FUNCTION {
            bindings = <
&kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &kp C_BRI_UP   &trans                             &kp HOME   &kp END        &trans  &trans     &trans
&trans        &kp C_BRI_DN  &trans      &trans         &trans         &trans      &trans  &kp LEFT   &kp DOWN       &kp UP  &kp RIGHT  &trans
&trans        &trans        &kp PG_UP   &kp LC(PG_UP)  &kp LC(PG_DN)  &trans      &trans  &kp PG_UP  &kp PAGE_DOWN  &trans  &trans     &trans
&trans        &trans        &trans      &trans         &trans         &trans      &trans  &trans                                       &trans
            >;
        };

        // Layer 2: NUM (C / K / SPACE 長押し)

        NUM {
            bindings = <
&kp N1        &kp NUMBER_2  &none   &kp N3            &kp N4                      &kp N9     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp MINUS  &kp EQUAL
&kp N5        &kp N6        &none   &kp N7            &kp N8  &none       &none   &kp N0     &kp SEMI          &kp SQT            &kp RET    &kp RET
&kp INT_KANA  &trans        &none   &kp INT_MUHENKAN  &none   &none       &none   &kp COMMA  &kp DOT           &kp FSLH           &kp BSLH   &kp GRAVE
&trans        &trans        &trans  &trans            &trans  &trans      &trans  &trans                                                     &trans
            >;
        };

        // Layer 3: FUNCTION / MACRO  (旧 keyball L3。Tab 長押しで起動)

        ARROW {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5                       &none          &none          &none        &none    &none
&kp F6  &kp F7  &kp F8  &kp F9   &kp F10  &none       &none   &kp LS(LG(S))  &none          &kp LG(TAB)  &kp F12  &none
&trans  &trans  &none   &kp F11  &kp F12  &none       &none   &none          &kp RIGHT_ALT  &trans       &trans   &kp LG(DOT)
&trans  &trans  &trans  &trans   &trans   &trans      &trans  &trans                                              &none
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
